* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
}

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}
main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.title {
   position: absolute;
   top: 10px;
   left: 50%;
   width: 500px;
   color: aliceblue;
   padding: 1rem;
   background-color: #799fbe;
   transform: translateX(-50%);
   display: none;
}

.title > h1 {
   text-align: center;
}

.alertMessage {
   background-color: rgb(121, 159, 190);
   border-radius: 0.7rem;
   width: 400px;
   height: 200px;
   position: relative;
}

.initBackground {
   background: url("../picture/marble.jpg");
}

.alertMessage > div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.alertMessage > div > label {
   font-size: 1.4rem;
   padding: 0.5rem;
   font-weight: normal;
}

.alertMessage > button {
   position: absolute;
   bottom: 10px;
   left: 50%;
   right: 50%;
   transform: translateX(-50%);
}

#name {
   padding: 0.6rem;
   width: 90%;
   border-radius: 10px;
   font-size: 1.2rem;
}

.alertMessageBut {
   padding: 1rem;
   background-color: rgb(233, 238, 243);
   cursor: pointer;
}

.container_scores {
   text-align: center;
   background-color: #799fbe;
   margin-top: 2rem;
   width: 400px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.container_scores > h2 {
   padding: 1rem;
   font-size: 1.4rem;
   font-weight: normal;
}

.result_row {
   display: flex;
   justify-content: center;
   width: 60%;
}

.result_row > p {
   width: 33%;
   font-size: 1.2rem;
   text-align: center;
}
