@font-face {
   font-family: "Action_Man";
   src: url("../font/Action_Man_Shaded.ttf");
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
}

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   position: relative;
   background-color: #5db139;
}

.headerDim {
   width: 190px;
   transform: translateY(10%);
}

header {
   position: absolute;
   width: 400px;
   height: auto;
}

header > img {
   width: 100%;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
}

#canvas {
   margin-top: 0.5rem;
   border: 15px solid #ffda51;
   border-radius: 20px;
   transform: translateY(10%);
}
/* --------------------- alert message for name */
.alertMessage {
   background-color: #48a72b;
   border-radius: 0.7rem;
   width: 400px;
   position: relative;
   margin-top: 5rem;
   border: 10px solid #ffda51;
   animation: startAlert 1s 1, alertBorder 1.2s infinite 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes alertBorder {
   0% {
      border: 10px solid #5ca1f0;
   }
   100% {
      border: 10px solid #ffda51;
   }
}

@keyframes startAlert {
   25% {
      transform: rotate(90deg);
   }
   50% {
      transform: rotate(360deg);
   }
   100% {
      transform: rotate(720deg);
   }
}

.alertMessage > div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.alertMessage > div > label {
   font-size: 1.4rem;
   padding: 0.5rem;
   font-weight: normal;
   color: #fff;
   padding-bottom: 0.3rem;
}

#name {
   padding: 0.3rem;
   width: 80%;
   border-radius: 10px;
   font-size: 1.2rem;
}

.contButton {
   display: flex;
   justify-content: center;
   padding: 0.4rem;
   margin-top: 0.1rem;
}

.alertMessageBut {
   padding: 0.5rem;
   border-radius: 2rem;
   background-color: #5db139;
   border: 2px solid #fff;
   cursor: pointer;
   color: #fff;
   font-size: 1.05rem;
}

.alertMessageBut:hover {
   border: 2px solid #ffda51;
   transition: all 0.3s;
}
/* ------------------------------ */
.container_scores {
   text-align: center;
   background-color: #799fbe;
   margin-top: 2rem;
   width: 400px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

/* ------------------------- container bubble (score, speed, apple X) */
.containerBubble {
   width: 75%;
   position: absolute;
   top: 35px;
   display: flex;
   justify-content: space-between;
}

.containerBubble div {
   background-color: #5db139;
   width: 100px;
   height: 100px;
   border-radius: 50%;
   border: 10px solid #ffda51;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.containerBubble p {
   margin-top: 0.7rem;
   text-align: center;
   color: #fff;
}

.containerBubble span {
   background-color: #5db139;
   width: 50%;
   text-align: center;
   color: #fff;
   font-weight: bold;
}

.apples {
   margin-top: 0.8rem;
}

.score {
   margin-top: 1.3rem;
}

.appleBubble {
   width: 30px;
   margin-left: 0.6rem;
   margin-top: 0.4rem;
}
