@font-face {
   font-family: "Action_Man_Shaded";
   src: url("../font/Action_Man_Shaded.ttf");
}

:root {
   --background: #5db139;
   --secondary: #ffda51;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Action_Man_Shaded", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode";
}

body {
   height: 100vh;
   display: flex;
   flex-direction: column;
   justify-content: start;
   align-items: center;
   position: relative;
   background-color: var(--background);
}

.bodyJustify-center {
   justify-content: center;
}

.imgResponsiveTel {
   width: auto;
}

.genContainer {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.headerDim {
   width: 220px;
}

header {
   width: 400px;
   height: auto;
   display: flex;
   justify-content: center;
}

header > img {
   width: 100%;
   object-fit: cover;
}

main {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: relative;
   top: 0;
}

#canvas {
   margin-top: -0.5rem;
   border: 15px solid var(--secondary);
   border-radius: 20px;
   display: none;
}

/* --------------------- alert message for name */

.alertMessage {
   padding: 0.5rem;
   background-color: #48a72b;
   border-radius: 0.7rem;
   width: 400px;
   position: relative;
   margin-top: -1.5rem;
   border: 10px solid var(--secondary);
   animation: startAlert 1s 1, alertBorder 1.2s infinite 1s cubic-bezier(0.165, 0.84, 0.44, 1);
}

@keyframes alertBorder {
   0% {
      border-color: #5ca1f0;
   }
   100% {
      border-color: var(--secondary);
   }
}

@keyframes startAlert {
   25% {
      transform: rotate(90deg);
   }
   50% {
      transform: rotate(360deg);
   }
   100% {
      transform: rotate(1440deg);
   }
}

.alertMessage > div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.alertMessage > div > label {
   font-size: 1.4rem;
   padding: 0.5rem;
   font-weight: normal;
   color: #fff;
   padding-bottom: 0.3rem;
}

#name {
   padding: 0.2rem 0.2rem 0.2rem 0.8rem;
   width: 80%;
   border-radius: 10px;
   border: none;
   font-size: 1.1rem;
}

.contButton {
   display: flex;
   justify-content: center;
   padding: 0.4rem;
   margin-top: 0.8rem;
}

.alertMessageBut {
   padding: 0.15rem 0.7rem;
   border-radius: 2rem;
   background-color: var(--background);
   border: 2px solid #fff;
   cursor: pointer;
   color: #fff;
   font-size: 1.05rem;
}

.alertMessageBut:disabled {
   cursor: not-allowed;
}

.alertMessageBut:hover {
   border: 2px solid var(--secondary);
   transition: all 0.3s;
}

.speedNotif {
   position: absolute;
   top: 50%;
   animation: speed 1.2s infinite cubic-bezier(0.6, -0.28, 0.735, 0.045);
   opacity: 0.9;
}

@keyframes speed {
   0% {
      transform: scale(1.1) translate(50px, -50px);
      opacity: 0.6;
   }
   100% {
      transform: scale(1.3) translate(250px, -250px);
      opacity: 0;
   }
}

.speedNotif > p {
   color: #fff;
   font-size: 2rem;
}

/* popup end game & blur body */
.alertEndMessage {
   width: 90%;
   padding: 0.8rem;
   position: absolute;
}

.alertEndMessage > p {
   font-size: 1.6rem;
   padding: 0.7rem;
   text-align: center;
   color: #fff;
}

.endMessageBut {
   padding: 0.15rem 0.7rem;
   border-radius: 2rem;
   background-color: var(--background);
   border: 2px solid #fff;
   cursor: pointer;
   color: #fff;
   font-size: 1.05rem;
   transition: all cubic-bezier(0.6, -0.28, 0.735, 0.045) 0.3s;
}

.endMessageBut:hover {
   border-color: var(--secondary);
}

.blurBody {
   filter: blur(0.3rem);
   opacity: 0.5;
}
/* ----------------------------Score */
.container_scores {
   text-align: center;
   background-color: #48a72b;
   margin-top: 1.5rem;
   width: 100%;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   border: 2px solid var(--background);
}

.headingRanking {
   color: #fff;
   font-size: 1.7rem;
   padding-bottom: 0.5rem;
}

.result_row {
   color: #fff;
}
.result_row > td {
   padding: 0.2rem;
   width: 33%;
   font-size: 1.1rem;
}

.selected {
   font-weight: bold;
}

/* ------------------------- container bubble (score, speed, apple X) */
.containerBubble {
   width: 50%;
   position: absolute;
   top: 10px;
   display: flex;
   justify-content: space-between;
}

.containerBubble div {
   background-color: var(--background);
   width: 110px;
   height: 100px;
   border-radius: 33%;
   border: 10px solid var(--secondary);
   display: flex;
   flex-direction: column;
   align-items: center;
}

.containerBubble p {
   margin-top: 0.7rem;
   font-size: 1.1rem;
   text-align: center;
   color: #fff;
}

.containerBubble span {
   background-color: var(--background);
   width: 50%;
   text-align: center;
   color: #fff;
   font-weight: bold;
   font-size: 0.9 rem;
}

.apples {
   margin-top: 0.8rem;
}

.score {
   margin-top: 0.8rem;
}

.appleBubble {
   width: 30px;
   margin-left: 0.6rem;
   margin-top: 0.4rem;
}

.pad {
   margin-top: 2rem;
   width: 220px;
   height: 120px;
   position: relative;
}

#UP,
#DOWN,
#RIGHT,
#LEFT {
   width: 68px;
   height: 50px;

   /* border-radius: 2rem; */
   padding: 5px 6px;
   border: 5px solid var(--secondary);
   cursor: pointer;
   color: #fff;
   font-weight: 600;
   background-color: transparent;
}

#UP {
   position: absolute;
   top: 0;
   left: 50%;
   transform: translateX(-50%);
}

#UP img {
   transform: rotate(-90deg);
}

#DOWN {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translateX(-50%);
}

#DOWN img {
   transform: rotate(-270deg);
}

#LEFT {
   position: absolute;
   top: 50%;
   left: 0;
   transform: translateY(-50%);
}

#LEFT img {
   transform: rotate(-180deg);
}

#RIGHT {
   position: absolute;
   top: 50%;
   right: 0;
   /* padding: 22px 20px; */
   transform: translateY(-50%);
}

.pad img {
   width: 1.2rem;
   height: 1.2rem;
   object-fit: cover;
   color: #fff;
   z-index: 1000;
   /* background-color: #5db139; */
}

@media screen and (max-width: 800px) {
   .containerBubble {
      width: 90%;
   }
   .alertMessage {
      width: 300px;
   }
}
.content-label {
   width: 100%;
   display: flex;
   justify-content: center;
   margin: 0.5rem 0;
}
.content-label > #label {
   text-align: center;
   color: #fff;
}

#mdp,
#name {
   padding: 0.5rem 1rem;
   border: none !important;
   width: 100% !important;
   border-radius: 10px;
   font-size: 0.9rem;
   font-weight: 400;
}

#change-log {
   background-color: transparent;
   padding: 0.5rem;
   color: #fff;
   font-weight: 500;
}
