@font-face {
   font-family: "Action_Man";
   src: url("../font/Action_Man_Shaded.ttf");
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode";
}

body {
   height: 100vh;
   display: flex;
   justify-content: center;
   /* align-items: center; */
   position: relative;
}
main {
   /* background: url(../picture/snake.png);
   background-repeat: no-repeat;
   background-size: contain; */
   display: flex;
   flex-direction: column;
   /* justify-content: center; */
   align-items: center;
}

.title {
   position: absolute;
   top: 10px;
   left: 50%;
   width: 500px;
   color: aliceblue;
   padding: 1rem;
   background-color: #48a72b;
   transform: translateX(-50%);
   display: none;
}

.title > h1 {
   text-align: center;
   font-family: "Action_Man";
   font-size: 3rem;
}

.alertMessage {
   background-color: #48a72b;
   border-radius: 0.7rem;
   width: 400px;
   height: 200px;
   position: relative;
}

#canvas {
   margin-top: 0.5rem;
}

.initBackground {
   background-color: #417d3a;
}

.alertMessage > div {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}

.alertMessage > div > label {
   font-size: 1.4rem;
   padding: 0.5rem;
   font-weight: normal;
}

.alertMessage > button {
   position: absolute;
   bottom: 10px;
   left: 50%;
   right: 50%;
   transform: translateX(-50%);
}

#name {
   padding: 0.6rem;
   width: 90%;
   border-radius: 10px;
   font-size: 1.2rem;
}

.alertMessageBut {
   padding: 1rem;
   background-color: rgb(233, 238, 243);
   cursor: pointer;
}

.container_scores {
   text-align: center;
   background-color: #799fbe;
   margin-top: 2rem;
   width: 400px;
   border-radius: 10px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}

.container_scores > h2 {
   padding: 1rem;
   font-size: 1.4rem;
   font-weight: normal;
}

.result_row {
   display: flex;
   justify-content: center;
   width: 60%;
}

.result_row > p {
   width: 33%;
   font-size: 1.2rem;
   text-align: center;
}

/* ------------------------- container bubble (score, speed, apple X) */
.containerBubble {
   width: 600px;
   margin-top: 1rem;
   display: flex;
   justify-content: space-between;
}

.containerBubble div {
   background-color: #5db337;
   width: 150px;
   height: 150px;
   border-radius: 50%;
   border: 10px solid rgb(207, 207, 50);
}

.containerBubble p {
   margin-left: 0.5rem;
}

.containerBubble > span {
   background-color: #5db337;
}

.appleBubble {
   width: 35px;
   margin-left: 1.3rem;
   margin-top: 0.4rem;
}
